main {
    margin: auto;
    max-width: 1080px;
}

main h2,
main h3 {
    margin: 0;
}

main > article > article {
    border-left: 2px solid black;
    margin-left: 7px;
}

main > article > article h3 {
    padding-left: 7px;
}

main > article > article > div {
    border-left: 2px solid grey;
    margin-left: 14px;
}

main > article > article > div > div {
    display: flex;
    margin-top: 7px;
    padding-left: 7px;
}

main > article > article > div > div > div:first-child {
    flex: 2;
}

main > article > article > div > div > div + div {
    flex: 1;
    margin-left: 7px;
}

main > article > article > div > div > div ul {
    margin: 0;
    padding-left: 43px;
}

.insufficient-level > div:nth-child(2) {
    font-weight: bold;
    color: red;
}